<div class="blognewbody">
<div class="blogeachtitle">
<p1>新規投稿画面</p1>
</div>
<br>
<br>
<p1 class="btn-vertical-border">
<%= link_to "▶ T o r i y u u - noticeboard", blogs_path %></p1>

<br>
<br>

<%= render 'form' %>

</div>
